# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# WhatsApp Web session and cache data
.wwebjs_auth/
.wwebjs_cache/


# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
tmp/
temp/
*.tmp

# Coverage files
coverage/

# Compiled files
dist/
build/

# Sensitive files
*.pem
*.crt
*.key

# Debug files
*.pid
*.seed
*.seed.js
